@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

* {	padding: 0;
	margin: 0;
    box-sizing: border-box; 
	list-style: none;
}

img {
	vertical-align: top;
}

a {
	text-decoration: none;
}

:root {
	--main-color: #1C2752;
	--darkYellow-color: #FFB342;
	--grey-color: #7E7E7E;

  }

body {
	font-family: 'Mulish', sans-serif;
}

h2 {
	font-size: 45px;
	text-transform: capitalize;
	color: var(--main-color);
	font-weight: normal;
}

.textGrey {
	color: var(--grey-color);
	font-size: 17px;
}


#wrapper {
	max-width: 1440px;
	min-width: 960px;
	margin: auto;
}

.logo, 
nav, 
.provideFuture,
.bigClients,
.latestNewsArticles {
	margin: 0 120px;
}


.openingHours {
	height: 69px;
	background: #F2F2F2;
	color: var(--main-color);
	display: flex;
	align-items: center;
	padding-left: 120px;
	font-size: 17px;
}

.openingHours img {
	flex-basis: 156px;
	height: 29px;
	margin-left: auto;
	padding-right: 120px;
}

/* .logo*/

.logo {
	display: flex;
	align-items: center;
	margin: 30px 120px -28px;
}

.logo div {
	flex-shrink: 0;
}

.logo div p:first-child {
	font-size: 20px;
	color: var(--main-color);
}

[src="imgs/email.svg"] {
	margin-left: auto;
	margin-right: 5px;
}

[src="imgs/phone.svg"] {
	margin-left: 35px;
	margin-right: 5px;
}

/*nav*/

nav {
	background: var(--darkYellow-color);
	height: 88px;
	overflow: hidden;
	display: flex;
	align-items: center;
	font-size: 20px;
	position: relative;
	top: 58px;
	z-index: 100;
}

nav li:hover a{
	color: white;
}

nav ul {
	display: flex;
	list-style: none;
	width: 65%;
	justify-content: space-around;
}


nav>a {
	display: block;
	width: 298px;
	line-height: 68px;
	text-align: center;
	background: var(--main-color);
	color: white;
	margin-left: auto;
	margin-right: 10px;
}

nav ul a{
	color: #222222;
}

/*.leaderInServices*/ 

.leaderInServices {
	height: 813px;
	background-image: url(imgs/mainBG.jpg);
	background-position: 50% 50%;
	background-size: cover;
	position: relative;	
}

h1, .leaderInServices p {
	color: white;
	font-size: 18px;
	text-transform: capitalize;
	position: absolute;
	left: 120px;
}

h1 {
	font-size: 60px;
	top: 330px;
	font-weight: normal;
}

.leaderInServices .image-before {
	display: flex;
	top: 270px;
	left: 120px;
	padding: 0 25px;
	background: rgba(255, 255, 255, 0.2);
}

.leaderInServices .image-before:before {
	background: url(imgs/iconBG.svg) no-repeat;
	padding: 5px 20px 0;
}    

.leaderInServices a {
	display: block;
	width: 227px;
	line-height: 68px;
	text-align: center;
	text-decoration: none;
	background: var(--darkYellow-color);
	color: var(--main-color);
	position: absolute;
	top: 515px;
	left: 120px;
	font-size: 20px;
} 

/*.provideFiture*/

.provideFuture {
	margin-top: 140px;
	margin-bottom: 140px;
	display: flex;
	column-gap: 40px;
	align-items: center;
}

.provideFuture>div {
	flex: 1 0 0%;
}
.provideFuture>div:first-child {
	height: 581px;
	background-image: url(imgs/ProvideFuture.jpg);
	background-position: 50% 50%;
	background-size: cover;
}

.provideFuture h2 {
	margin: 10px 0;
}

.provideFuture h2+p {
	margin-bottom: 10px;
}

.provideFuture li {
	list-style: '- ';
}

.provideFuture .image-before {
	background: #F4F4F4;
}

.provideFuture .image-before:before {
	background: url(imgs/logoSmall.svg) 
}

.provideFutureBlock {
	display: flex;
	column-gap: 40px;
	margin-top: 20px;
}

.provideFutureBlock div:first-child {
	background: #F4F4F4;
	flex-basis: 198px;
	height: 220px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.provideFutureBlock div:last-child {
	flex-basis: 337px;
	display: flex;
	align-items: center;
}

.provideFutureBlock p:first-child {
	font-size: 80px;
	color: var(--darkYellow-color);
}

.provideFutureBlock p:last-child {
	font-size: 20px;
	color: var(--main-color);
}

/*professionalMainServices*/

.professionalMainServices {
	height: 900px;
	border: 2px solid transparent;
	background: #FFB342;
	position: relative;
}

.professionalMainServices .image-before {
	background: #F4F4F4;
	margin: 147px auto 30px;
}

.professionalMainServices p:first-child::before {
	background: url(imgs/logoSmall.svg) no-repeat;
}

.professionalMainServices h2 {
	text-align: center;
}

.professionalMainServices h2+p {
	color: var(--main-color);
	width: 832px;
	margin: 30px auto 40px;
	text-align: center;
} 

.professionalMainServices button {
	width: 250px;
	height: 68px;
	text-align: center;
	border: 1px solid black;
	background: var(--darkYellow-color);
}

/* .professionalMainServices_buttons_onclick  */
.professionalMainServices_button_active  {
	background: white !important;
	border: 0 !important; 
}

.professionalMainServices_buttons {
	margin: auto;
	width: 824px;
	color: #222222;
	font-size: 20px;
}

.professionalMainServices_buttons button:not(:last-child) {
	margin-right: 30px;
}

.professionalMainServices_buttons button{
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.professionalMainServices_buttons button:hover{
	cursor: pointer;
}

/* #block_commercial (script)*/


#block_commertial {
	background: white;
	height: 528px;
	position: absolute;
	bottom: -97px;
	left: 120px;
	right: 120px;
	display: flex;
	align-items: center;
	column-gap: 60px;
	padding: 60px;
	box-shadow:  4px 4px 4px 0 rgba(0,0,0,0.25);
}

#block_commertial .col1 {
	flex: 1 0 0%;	
}

#block_commertial .col2 {
	flex: 1 0 0%;
	max-width: 416px;
	max-height: 366px;
	display: flex;
}

#block_commertial img {
	width: 100%;
	align-self: center;
}

#block_commertial .col1 p:first-child::before {
	background-image: url(imgs/commertial_colored.svg);
	padding-right: 20px;
}

#block_commertial .col1 p:first-child {
	margin: 0 auto 22px 0;
	color: var(--main-color);
	padding-right: 22px;
}

#block_commertial h3 {
	font-size: 45px;
	font-weight: normal;
	color: var(--main-color);
}

#block_commertial .col1 p:not(first-child) {
	color: var(--grey-color);
	margin-top: 10px;
}

#block_commertial a {
	display: block;
	width: 190px;
	line-height: 68px;
	background: var(--darkYellow-color);
	color: var(--main-color);
	font-size: 20px;
	margin-top: 30px;
	text-align: center;
}

#block_commertial a:hover {
	color: white;
}

/* .ourServices */ 

.ourServices {
	border: 2px solid transparent;
	background: #F4F4F4;
}

			/* общий класс*/
.image-before {
	display: flex;
	width: min-content;
	white-space: nowrap;
	align-items: center;
	justify-content: center;
	column-gap: 5px;
	padding: 0 10px;
	font-size: 18px;
	color: var(--main-color)
}

.image-before:before {
	content: '';
	background: url(imgs/ourservices/paper-pen_icon.svg) no-repeat;;
	background-position: 50% 50%;
	width: 22px;
	height: 27px;
}

.ourServices p:first-child {
	margin: 250px auto 30px auto;
	background: white;
}


.ourServices h2, .ourServices p:nth-child(3) {
	text-align: center;
	color: var(--main-color);
}

.ourServices p:nth-child(3) {
	margin-top: 15px;
	font-size: 18px;
}

			/* ourServices_cards */

.ourServices_cards {
	margin: 50px 120px 140px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-gap: 30px;
}

.ourServices_cards .card {
	background: var(--main-color);
	padding: 35px;
	display: grid;
	grid-template-rows: 98px auto 1fr 65px;
}

.ourServices_cards .card p, .ourServices_cards a {
	color: white;
}

.ourServices_cards h3 {
	font-size: 25px;
	color: var(--darkYellow-color);
	font-weight: normal;
	text-transform: capitalize;
}

.card>div {
	width: 48px;
	height: 48px;
	background-size: cover;
	background-position: 50% 50%;
	margin-top: 15px;
}

.ourServices .card p {
	text-align: left;
	margin-bottom: 22px;
	font-size: 17px;
}

.ourServices .card a {
	font-size: 18px;
	padding-top: 20px;
}

.card1>div {
	background-image: url(imgs/ourservices/1.svg);
}

.card2>div {
	background-image: url(imgs/ourservices/2.svg);
}

.card3>div {
	background-image: url(imgs/ourservices/3.svg);
}

.card4>div {
	background-image: url(imgs/ourservices/4.svg);
}

.card5>div {
	background-image: url(imgs/ourservices/5.svg);
}

.card6>div {
	background-image: url(imgs/ourservices/6.svg);
}

.ourServices_cards a:hover {
	text-decoration: underline;
}

/* ferReasons */

.fewReasons {
	display: flex;
}

.fewReasons_col1, 
.fewReasons_col2 {
	flex: 1 0 0%;
	min-height: 848px;
}

.fewReasons_col1 {
	background-image: url(imgs/fewReasons.jpg);
	background-position: 50% 50%;
	background-size: cover;
	display: flex;
}

.fewReasons_col1_container {
	background:rgba(28, 39, 82, 0.86);
	margin: auto;
	display: flex;
	flex-direction: column;
	row-gap: 25px;
	padding: 100px 80px;
}

.fewReasons_col1_container>div {
	border: 1px solid white;
	min-width: 360px;
	display: flex;
}

.fewReasons_col1_container_numbers {
	background: var(--darkYellow-color);
	color: var(--main-color);
	font-size: 24px;
	flex-basis: 110px;
	text-align: center;
	padding: 16px 0;
}

.fewReasons_col1_container_achievements {
	color: white;
	font-size: 25px;
	white-space: nowrap;
	padding: 16px 0;
	padding-left: 25px;
}

.fewReasons_col2 {
	padding: 90px 60px 0;
}

.fewReasons_col2 h2{
	margin-bottom: 11px;
}

.fewReasons_col2 .image-before {
	background: #F4F4F4;
	margin-bottom: 23px;
}

.fewReasons_col2 .textGrey {
	margin-bottom: 30px;
	margin-top: 8px;
}

.v-before {
		display: flex;
		width: min-content;
		white-space: nowrap;
		align-items: center;
		justify-content: center;
		column-gap: 5px;
		font-size: 20px;
		color: var(--main-color);
}

.v-before:before {
	content: '';
	background: url(imgs/v.svg) no-repeat;;
	background-position: 50% 50%;
	width: 32px;
	height: 32px;
	border-radius: 50%;
}

/* ourRecentProjects */

.ourRecentProjects {
	background: var(--main-color);
}

.ourRecentProjects .image-before {
	background: white;
	position: relative;
	top: 150px;
	left: 50%;
	transform: translate(-50%);
}

.ourRecentProjects h2 {
	text-align: center;
	margin: 200px 0 50px;
	color: white;
}

.projectsGallery {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-column-gap: 30px;
	padding: 0 35px 200px;
}

.projectsGallery>div {
	padding: 21px;
	background: white;	
	display: grid;
	grid-template-rows: auto 1fr 50px;
	
}

.projectsGallery img {
	width: 100%;
}

.projectsGallery>div p:first-of-type {
	font-size: 25px;
	color: var(--main-color);
	margin-top: 27px;	
	text-align: center;
}

.projectsGallery .textGrey {
	display: flex;
	margin: auto;
}

/*customerSaysAndForm*/

.customerSaysAndForm{
	margin: 120px;
	display: flex;
	column-gap: 45px;
}

.customerSaysAndForm>div {
	flex: 1 0 0%; 
}

.customerSaysAndForm .image-before {
	background: #F4F4F4;
}

.customerSaysAndForm h2 {
	margin: 20px 0 40px;
}

	/*says*/

.feedbacks {
	border: 2px solid #DCDCDC;
	margin-bottom: 40px;
}

.feedback_card {
	padding: 40px 40px 20px;
}

.feedback_card .row1 {
	border-bottom: 1px solid #DCDCDC;
	display: flex;
	column-gap: 10px;
	align-items:center;
	padding-bottom: 20px;
}

.feedback_card .row1>div p{
	font-size: 18px;
}

.feedback_card .row1>div p:first-child {
	color:var(--main-color);
}

.feedback_card .row2 {
	padding-top: 20px;
	font-size: 18px;
	font-weight: bold;
	font-style: italic;
	color: var(--grey-color);
	height: 180px;
	display: flex;
	align-items: center;
}

.feedback_card .row2 span {
	color: var(--main-color);
}

[src="imgs/customerSays_icon.svg"] {
	margin-left: auto;
	
}

	/*JS - reviews*/

.reviewImg {
	width: 70px;
	height: 70px;
	border-radius: 50%;
}

.reviewImg:not(:first-child) {
	display: none;
}


.says button {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: none;
}

.says button:hover {
	cursor: pointer;
}

#left {
	margin: 0 21px 38px 40px;
}

	/*anyQuestion*/

.anyQuestion {
	background: var(--darkYellow-color);
	padding: 50px 40px;
}

.anyQuestion p:not(:last-child) {
	margin-bottom: 20px;
	color: var(--main-color);
	font-size: 18px;
}

.anyQuestion p:nth-child(2) {
	font-size: 25px;
}

.anyQuestion img {
	padding-right: 20px;
}

.anyQuestion p:last-child {
	color: white;
	font-size: 30px;
	display: inline;
	line-height: 50px;
	white-space: nowrap;
}

	/*appointmentForm*/

.appointmentForm form {
	background: #F4F4F4;
	padding: 73px 40px;
}

::placeholder,
[name="serviceDescription"],
[type="submit"] {
	color: var(--main-color);
	font-size: 17px;
}

form>p {
	margin: 0;
}

input, textarea {
	width: 100%;
	border: 1px solid #CCCCCC;
}

textarea {
	resize: none;
	padding: 19px 0 0 44px;
	font-family: inherit;
}

.appointmentForm input {
	height: 65px;
	padding-left: 44px;
	font-size: 17px;
}

.appointmentForm input:invalid {
	border: 3px solid var(--darkYellow-color);
}

[type="submit"] {
	font-weight: bold;
	padding-left: 0 !important;
	text-align: center;
	background: var(--darkYellow-color);
	border: none;
}

.appointmentForm  [type="submit"]:hover {
	cursor: pointer;
}

form>p:not(:last-child) {
	padding-bottom: 25px;
}

/* bigClients */


.bigClients .image-before {
	margin: auto;
}

.bigClients h2 {
	margin: 22px 0 44px;
	text-align: center;
}

.bigClients>div {
	display: flex;
	justify-content: space-between;
	padding: 0 50px;
	flex-wrap: wrap;
	margin-bottom: 140px;
	
}

.bigClients img {
	padding-bottom: 10px;
}

/* customizeWork*/

.customizeWork {
	background: #F4F4F4;
	padding: 150px 120px 60px;
}

.customizeWork .row1 {
	display: flex;
}

.customizeWork .row1 h2,
.customizeWork .row1 p {
	flex-basis: 50%;
}

.customizeWork h2 {
	margin: 23px 40px 60px 0;	

}

.customizeWork span {
	text-transform: lowercase;
}

.customizeWork .row1 p {
	margin-right: 30px;
}

	/*row2 - cards*/

.customizeWork .row2 {
	display: flex;
	column-gap: 30px;
}

.customizeWork .col {
	background: white;
	flex: 1 0 0%;
	padding: 40px;
	display: grid;
	grid-template-rows: auto auto auto 1fr 80px;
}

.customizeWork li  {
	display: flex;
	align-items: center;	
}

.customizeWork li::before {
	content: '';
	display: block;
	background-image: url(imgs/iconList.svg);
	background-position: 50% 50%;
	background-size: cover;
	width: 19px;
	height: 19px;
	flex-shrink: 0;
	margin-right: 10px;
}

.customizeWork input {
	text-align: center;
	height: 68px;
	font-size: 20px;
	background: var(--darkYellow-color);
	border: 0;
	margin-top: 20px;
}

.customizeWork input {
	cursor: pointer;
}

.customizeWork p.textGrey {
	display: inline-block;
	word-wrap: nowrap;
	margin-right: 10px;
}

.customizeWork .col p:first-child,
.customizeWork .col p:nth-child(2),
.customizeWork input {
	color: var(--main-color)
}

.customizeWork .col p:first-child {
	font-size: 20px;
}

.customizeWork .col p:nth-child(2) {
	font-size: 32px;
	display: inline;
}

.customizeWork .col p:nth-child(3) {
	margin-left: 20px;
	padding-top: 14px;
}

.customizeWork ul {
	border-top: 1px solid  #D7d7D7;
	margin-top: 30px;
	padding-top: 30px;
}

.customizeWork ul li {
	margin-bottom: 20px;
}

.customizeWork .row2 .col2 {
	position: relative;
}

.customizeWork .row2 .col2:before {
	content: 'POPULAR';
	position: absolute;
	top: 5px;
	left: 100%;
	transform: translate(-110%);
	background: var(--darkYellow-color);
	padding: 3px;
	color: var(--main-color)
}


	/*row3*/

.customizeWork .row3 {
	display: flex;
	margin: 62px 0 128px;
}

.customizeWork .row3 p.textGrey {
	padding-left: 40px;
	padding-top: 10px;
}

/* latestNewsArticles */

.latestNewsArticles .image-before {
	background: #F4F4F4;
	margin: 150px auto 22px;
}

.latestNewsArticles h2 {
	text-align: center;
	margin-bottom: 40px;
}

.blog {
	display: flex;
	column-gap: 30px;
}

.blog>div {
	flex: 1 0 0%;
}

.blog>div>img {
	width: 100%;
}

.nameDate {
	font-size: 0;
	white-space: nowrap;
	text-align: center;
	position: relative;
	top: -31px;
}

.latestNewsArticles h3 {
	color: var(--main-color);
	font-size: 30px;
	font-weight: normal;
	margin: -10px 0 16px;
}

.latestNewsArticles .textGrey {
	margin-bottom: 17px;
}

.latestNewsArticles a {
	color: var(--main-color);
	font-size: 20px;
	display: block;
	padding-bottom: 140px;
}

/*subscribeOurNewsletter*/

.subscribeOurNewsletter {
	background: var(--darkYellow-color);
	padding: 141px 120px 50px;
	display: flex;
	column-gap: 60px;
}

.subscribeOurNewsletter h3 {
	color: var(--main-color);
	font-size: 32px;
	font-weight: normal;
	margin-bottom: 10px;
}

.subscribeOurNewsletter .col1 {
	padding-right: 100px;
}

.subscribeOurNewsletter .col1 p {
	font-size: 18px;
	color: var(--main-color);
}

.subscribeOurNewsletter .col2 {
	display: flex;
}

.subscribeOurNewsletter .col {
	flex-basis: 50%;
}

.subscribeOurNewsletter input {
	height: 68px;
	padding-left: 10px;
}

.subscribeOurNewsletter input:first-child {
	background: var(--darkYellow-color);
	border: 2px solid white;
	flex-basis: 380px;
	border-radius: 5px 0 0 5px;
}

.subscribeOurNewsletter input:last-child {
	border: none;
	color: var(--main-color);
	font-size: 18px;
	flex-basis: 180px;
}
	
.subscribeOurNewsletter input::placeholder {
	color: white;
	padding-left: 10px;
}

.subscribeOurNewsletter [type="submit"] {
	background: white;
}

.subscribeOurNewsletter [type="submit"]:hover {
	cursor: pointer;
}

/*footer*/

footer {
	background: var(--main-color);
	color: white;
}

footer img {
	margin: 0 5px 0 0;
	margin-left: 0 !important;
}

footer .row1 {
	display: flex;
	align-items: center;
	column-gap: 15px;
	padding: 50px 120px 0;
	justify-content: space-between;
}

footer .row1>div {
	display: flex;
	align-items: center;
}

footer .row1>div p:first-child {
	font-size: 20px;
}

footer .row1>div:first-child {
	min-width: 190px;
}

[src="imgs/logo_footer.svg"] {
	width: 100%;
}

footer .row2 {
	border: 2px solid var(--main-color);
}

footer .container {
	margin: 50px 120px 90px;
	display: flex;
	column-gap: 80px;
	justify-content: center;
	border-bottom: 1px solid #4B557D;
	border-top: 1px solid #4B557D;
	padding-top: 40px;
}

.container .col1 {
	display: flex;
	align-items: end;
	position: relative;
	flex-basis: 400px;
	padding-right: 40px;
}

.container .col3 {
	position: relative;
	padding-right: 25px;
}

.container .col4 {
	padding-left: 25px;
}

footer .container .col1::before {
	content: '';
	width: 1px;
	height: 223px;
	background: #4B557D;
	position: absolute;
	left: calc(100% + 40px - 25px);
	bottom: -57px;
}

footer .container .col3::before {
	content: '';
	width: 1px;
	height: 223px;
	background: #4B557D;
	position: absolute;
	left: calc(100% + 40px);
	bottom: -57px;
}

footer a {
	color: white;
	font-size: 18px;
}

footer .col2 li,
footer .col3 li,
footer .col4 li {
	padding-bottom: 10px;
}

footer li:last-child {
	padding-bottom: 20px;
}

.container .col1 li{
	display: inline;
}

.container .col p {
	padding-bottom: 20px;
}

.container .col1 p {
	margin-bottom: 30px;
	font-size: 18px;
}

.container .col2 p,
.container .col3 p,
.container .col4 p {
	color: var(--darkYellow-color);
	font-size: 20px;

}



